<footer id="footer">
  <a href="#" class="info fa fa-info-circle"><span></span></a>
  <div class="inner">
    <div class="content">
      <h3>suorademokratia.net palvelua ylläpitää Suomen Demokratia ry.</h3>
      <%= show_header_buttons %>
      <%= link_to t("historia"), history_path(current_or_guest_user) %>
      <%= link_to t("puhepiirit"), circles_path %>
    </div>
    <div class="copyright">
      <h3>Follow us</h3>
      <ul class="icons">
	<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
	<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
	<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
	<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      </ul>
      &copy; Suomen Demokratia Ry. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
    </div>
  </div>
</footer>
