<div id="preview" >
  <div class="inner">
    <div class="content">
      <article>
        <header>
	  <h2><%= t("Talking Circle") %></h2>
        </header>
        <p>
          Puhepiirissä valmistellaan äänestysehdotukset
          valmiiksi. Jokainen piiriin liittynyt voi osallistua
          äänestysehdotuksen valmistamiseen. Äänestysehdotuksen omistaja
          voi käynnistää äänestyksen jonka jälkeen jokainen piiriin
          liittynyt voi kannattaa tai olla kannattamatta ehdotuksen
          julkaisemista. Mikäli ehdotusta ei kannateta, se jää
          järjestelmään odottamaan uutta muokkaus ja palautekierrosta
          jonka jälkeen voidaan suorittaa uusi äänestys. Näin jatketaan
          kunnes riittävään moni kannattaa äänestysehdotuksen
          julkaisemista. Tämän jälkeen äänestysehdotus automaattisesti
          julkaistaan ja siitä on mahdollista äänestää.
        <p>
          Yhden keskustelupiirin näkymä<br/>
          - Valmisteilla olevat äänestysehdotukset<br/>
          - Hyväksytyt äänestysehdotukset<br/>
          - Uuden ehdotuksen lisääminen<br/>
        </p>
        <p>
          Ohje:
          <br/>
          - Kuinka ehdotus tulee julkiseksi?<br/>
        </p>
      </article>      
    </div>

    <%= will_paginate @vote_proposals %>
    <div class="columns">
      <% @vote_proposals.each do |vp| %>
      <div class="image fit">        
        <article style="border:1px dotted #ddd; padding: 8px;">
          <header><%= link_to vp.topic, vote_proposal_path(vp) %></header>
        </article>
      </div>
      <% end %>
    </div>
  </div>
</div>


